{% extends "base.html" %}

{%block content%}

<div class="content" style="align:center;" align="center">
    <br><br><br>

    <embed type="text/html" src="https://kidmons.com/game/coloring-book" width="90%" height="700">
    <br><br><br><br>
    <p>
        <a href="/puzzles/">Back to Puzzles</a>
        <br>
        This coloring book is perfect for small kids that are having a first contact with colors. They can choose between three
        palettes of colors with the different tones of blue, green, red, pink and orange. The kids can also decide what drawing
        they want to color by choosing one of the four categories: animals, means of transportation, occupations and food. In
        each category there are six drawings, so in total your kid can choose between 24 drawings.
    </p>
</div>

{%endblock%}