{% extends "base.html" %}

{%block content%}

<div class="content" style="align:center;" align="center">


    <embed type="text/html" src="https://kidmons.com/game/paint-online" width="90%" height="700">
    <p>
        <a href="/puzzles/">Back to Puzzles</a>
        <br>
        Paint online is the perfect video game for kids that are fond of drawing and painting. Kids need to let their creativity
        fly away, and what better way than giving them the tools to create Art? Painting is a great way to express yourself and
        communicate emotionally; kids don’t just love to draw, they also need it to be able to communicate and to progress
        intellectually.
    </p>
</div>

{%endblock%}