{% extends "base.html" %}

{%block content%}

<div class="content" style="align:center;" align="center">
    <br><br><br><br><br><br>

    <embed type="text/html" src="https://kidmons.com/game/puzzle-4-kids" width="90%" height="700">
    <br><br><br><br>
    <p>
        <a href="/puzzles/">Back to Puzzles</a>
        <br>
        Simon Memorize Online is an online and free version of the classic electronic game of memory skill “Simon”.
        These games,
        based on the simple children’s game “Simon says” are a great method to improve your kids’ concentration and
        memory
        capacity. He will learn to coordinate what he hears with what he sees, and to follow and reproduce the order
        shown which
        will train his cognitive skills and obedience.
    </p>
</div>

{%endblock%}