{% extends "base.html" %}

{%block content%}

<div class="content" style="align:center;" align="center">
    <br><br><br>

    <embed type="text/html" src="https://kidmons.com/game/puzzle-4-kids" width="90%" height="700">
    <br><br><br><br>
    <p>
        <a href="/puzzles/">Back to Puzzles</a>
        <br>
        With Puzzle 4 kids your children won’t just be doing puzzles and having fun, they will also be learning new words and
        improving their reading. In this game your kids can solve puzzles of dinosaurs, food, sports, kitchen stuff, furniture,
        animals or transports and learn the words that designate each thing.
    </p>
</div>

{%endblock%}