{% extends "base.html" %}

{% block content %}

<div class="content">

    <br><br><br>


    <div class="banner">

        <div class="row">
            <div class="col-6">
                <h2><b>MindLoom</b></h2><br>
                <h5>Unlocking potential, one step at a time.</h5><br>
                <p>
                    Embrace your child's unique learning journey with MindLoom, a personalized edtech platform tailored for autistic
                    learners.
                
                    Engage their senses, spark their creativity, and empower them to thrive through our interactive activities and
                    expert
                    support.
                
                    Unleash their full potential with MindLoom - where learning is accessible, engaging, and empowering.
                </p><br>
                <button class="btn">Get started</button>
            </div>
            <div class="col-6">
                <img src="https://i.ibb.co/02YHSxw/child.png" alt="" srcset="" height="400">
            </div>
        </div>
    </div>

    <br><br><br>

    <div>
        <div class="row">
            <div class="column">
                <div class="card" style="height:200px;">
                    <h3>Different Tiers for different needs!</h3><br>
                    <p>
                        Our tiered membership plans offer a variety of options to suit your child's needs
                    </p>
                </div>
            </div>
            <div class="column" style="height:200px;">
                <div class="card">
                    <h3>Free</h3><br>
                    
                    Embrace the power of learning with our Free membership plan. Explore our core curriculum and essential learning
                    resources, designed to stimulate the senses and foster a love of learning. Discover our commitment to accessibility with
                    user-friendly features and personalized recommendations. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <br>
                    <br><br><br>
                    <a href="/signup/"><button class="btn">Get Started with Free!</button></a>
                </div>
            </div>
            <div class="column" style="height:200px;">
                <div class="card">
                    <h3>Basic</h3><br>
            
                    Unlock the next level of learning with our Basic membership plan. Enjoy personalized learning experiences tailored to
                    your child's unique needs. Track their progress with detailed reports and celebrate their achievements with personalized
                    feedback. Immerse your child in a world of engaging activities and gain unlimited access to our ever-expanding library.
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <br>
            
                    <a href="/signup/"><button class="btn">Get Started with Premium!</button></a>
                </div>
            </div>
            <div class="column" style="height:200px;">
                <div class="card">
                    <h3>NGO</h3><br>
            
                    Partner with us to support the learning needs of autistic children worldwide.
                    
                    Become an NGO partner and receive discounted access to our Premium membership plans for the children you serve.
                    
                    Collaborate with our team of experts to develop and implement personalized learning programs for autistic children in
                    your community.
                    <br>
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                    <a href="/signup/"><button class="btn">Contact us for NGO!</button></a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br> <br><br> <br><br> <br><br><br>

    <div class="row">
            <div class="card" style="text-align:left;padding:20px;"> 

                <h2>Why use MindLoom?</h2>

                <ol>
                    <li>Games can help improve social communication skills: Research shows that games can help children with autism improve
                    their social communication skills, which can be challenging for them. Games can help children learn concepts such as
                    false belief, reciprocity, and strategy, and practice and develop a range of skills including communication,
                    perspective-taking, emotional regulation, emotional recognition, and sportsmanship.</li>  
                    <li>
                        Games can help children form independent relationships: Games are a cornerstone in child development, allowing children
                        to form independent relationships with one another. Autistic children often have difficulty forming peer relationships
                        and can be excluded from social settings. Games can provide a naturalistic and emergent setting for autistic children to
                        connect with their peers.
                    </li>
                    <li>
                        Games can be motivating: Games may be motivating over and above other types of educational interventions. In-built
                        rewards systems that track advancement can help children stay engaged and motivated.
                    </li>
                    <li>
                        Mental support can help parents cope with stress: Parenting children with autism can be stressful, and parents may
                        experience stress associated with their children’s challenging behaviors, communication difficulties, isolation, and
                        atypical attachment behavior. Mental support can help parents
                    </li>
                    <li>
                        Websites can provide access to resources: Websites can provide access to resources that parents may not be aware of,
                        such as support programs and groups run by autistic adults and meet neurotypical and autistic parents with similar
                        experiences. Parents can discover new resources and find new friends for themselves and their children.
                    </li>
                </ol>
                
            <br>
    </div>
</div>

    
    {% endblock content %}
    