{% extends "base.html" %}

{% block content %}

<div class="content">

    <br><br><br>


    <div class="banner">

        <div class="">
            <h2><b>MindLoom</b></h2><br>
            <h4>Unlocking potential, one step at a time.</h4><br>
            <p>
                Embrace your child's unique learning journey with MindLoom, a personalized edtech platform tailored for autistic
                learners.
                
                Engage their senses, spark their creativity, and empower them to thrive through our interactive activities and expert
                support.
                
                Unleash their full potential with MindLoom - where learning is accessible, engaging, and empowering.
            </p><br>
            <button class="btn">Get started</button>
        </div>
    </div>

    <br><br><br>

    <div>
        <div class="row">
            <div class="column">
                <div class="card" style="height:200px;">
                    <h3>Different Tiers for different needs!</h3><br>
                    <p>
                        Our tiered membership plans offer a variety of options to suit your child's needs
                    </p>
                </div>
            </div>
            <div class="column" style="height:200px;">
                <div class="card">
                    <h3>Free</h3><br>
                    
                    Embrace the power of learning with our Free membership plan. Explore our core curriculum and essential learning
                    resources, designed to stimulate the senses and foster a love of learning. Discover our commitment to accessibility with
                    user-friendly features and personalized recommendations. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <br>
                    <br><br><br><br><br><br>
                    <a href="/signup/"><button class="btn">Get Started with Free!</button></a>
                </div>
            </div>
            <div class="column" style="height:200px;">
                <div class="card">
                    <h3>Basic</h3><br>
            
                    Unlock the next level of learning with our Basic membership plan. Enjoy personalized learning experiences tailored to
                    your child's unique needs. Track their progress with detailed reports and celebrate their achievements with personalized
                    feedback. Immerse your child in a world of engaging activities and gain unlimited access to our ever-expanding library.
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <br>
            
                    <a href="/signup/"><button class="btn">Get Started with Premium!</button></a>
                </div>
            </div>
            <div class="column" style="height:200px;">
                <div class="card">
                    <h3>NGO</h3><br>
            
                    Partner with us to support the learning needs of autistic children worldwide.
                    
                    Become an NGO partner and receive discounted access to our Premium membership plans for the children you serve.
                    
                    Collaborate with our team of experts to develop and implement personalized learning programs for autistic children in
                    your community.
                    <br>
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                    <a href="/signup/"><button class="btn">Contact us for NGO!</button></a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br> <br><br> <br><br> <br><br><br>

    <div class="row">
            <div class="card" style="text-align:left;"> 

                <h2>Why use MindLoom?</h2>

                
                There are many reasons why parents should use an edtech app for their autistic child. Here are just five of the most
                compelling reasons:
                
                Personalized learning: Edtech apps can provide personalized learning experiences that are tailored to each child's
                unique needs. This can help to ensure that every child is learning at their own pace and in a way that is most effective
                for them.
                
                Engaging activities: Edtech apps often feature a variety of engaging activities that can help to keep children motivated
                and interested in learning. These activities can be adapted to different learning styles and interests, ensuring that
                every child can find something that they enjoy.
                
                Accessibility: Edtech apps can be accessed from anywhere in the world, making it easy for parents to provide their
                children with a quality education regardless of their location or circumstances.
                
                Expert support: Edtech apps often provide access to expert support from educators and specialists who can provide
                guidance and assistance to parents. This can be especially helpful for parents who are new to autism Spectrum Disorder
                (ASD) or who have questions about their child's specific needs.
                
                Measurable progress: Edtech apps can track a child's progress over time, allowing parents to see how their child is
                doing and identify areas where they may need additional support. This information can be used to help parents tailor
                their child's learning experience and ensure that they are making progress towards their goals.
            </div>
            <br><br>
    </div>
</div>

    
    {% endblock content %}
    