{% extends "base.html" %}

{% block content %}
<div class="content">
    <br><br><br><br><br><br>
    <div class="banner">
        <div class="">
            <h2>Welcome, {{user.first_name}} {{user.last_name}}.</h2><br>
            <p>Points Earned: <b>{{ user.points }}</b> | Current Subscription : <b>{% if user.is_premium %} Premium {%elif user.is_ngo %} NGO {% else %} BASIC {% endif %}</b></p><br><br>
            <div>
                <div class="row">
                    <div class="column">
                        <a href="/puzzles/" style="color:white;text-decoration: none;">
                            <div class="card">
                                <h2>Puzzles</h2><br>
                                <p>Access all the puzzles!</p><br>
                                <img src="https://i.pinimg.com/originals/0f/50/02/0f500218fca07b2362f40701848ac907.png"
                                    width="200" height="200" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="/information/" style="color:white;text-decoration: none;">
                            <div class="card">
                                <h2>INFORMATION</h2><br>
                                <p>Access information about Autism!</p>
                                <br>
                                <img src="https://png.pngtree.com/png-vector/20221128/ourmid/pngtree-hand-drawn-cartoon-question-mark-decorative-icon-free-illustration-clipart-png-image_6484278.png"
                                    width="200" height="200" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="column" style="color:grey;">
                        <a href="/puzzles/" style="color:white;text-decoration: none;">
                            <div class="card">
                                <h2>Quizzes</h2><br>
                                <b>
                                    <p>COMING SOON</p>
                                </b><br>
                                <img src="https://image.similarpng.com/very-thumbnail/2020/12/Quiz-comic-pop-art-style-illustration-on-transparent-background-PNG.png"
                                    width="200" height="200" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="column">

                        <div class="card" style="height:200px;">
                            <h2>Support</h2><br>
                            <p>Need help? Contact us!</p><br>
                            <b>
                                <a href="mailto:help@mindloom.com"><button class="btn">Contact Us!</button></a><br>
                            </b><br>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}