{% extends "base.html" %}

{% block content %}
<div class="content">
    <br><br>
    <div class="banner">
        <div class="">
            <h2>Welcome, {{user.first_name}} {{user.last_name}}!</h2><br>
            <p>Points Earned: <b>{{ user.points }}</b>   &nbsp;&nbsp; | &nbsp;&nbsp;  Current Subscription : <b>{% if user.is_premium %} Premium {% elif user.is_ngo %} NGO {% else %} BASIC {% endif %}</b></p><br><br>
            <div>
                <div class="row">
                    <div class="column">
                        <a href="/puzzles/simon/" style="color:black;text-decoration: none;">
                            <div class="card" style="height:400px;">
                                <h2>Simon Memorize</h2><br>
                                <p>Play this memory game to enhance your recognition skills!</p>
                                <img src="https://kidmons.com/assets/img/games/1col/100x100/simon.webp"
                                    width="200" height="200" alt="" align="center">
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="/puzzles/puzzlekids/" style="color:black;text-decoration: none;">
                            <div class="card" style="height:400px;">
                                <h2>Puzzle 4 Kids</h2><br>
                                <p>With Puzzle 4 kids, you won't be just doing puzzles and having fun, they will also be learning new words!</p>
                                <img src="https://kidmons.com/assets/img/games/1col/100x100/puzzle4kids.webp" width="200" height="190" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="column" style="color:grey;">
                        <a href="/puzzles/coloringview/" style="color:black;text-decoration: none;">
                            <div class="card" style="height:400px;">
                                <h2>Coloring Book</h2><br>
                                <p>This coloring book is perfect for small kids that are having a first contact with colors.
                                </p>
                                <img align="center" src="https://kidmons.com/assets/img/games/1col/100x100/coloring.webp" width="250" height="200" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="column">

                        <a href="/puzzles/paintonline/" style="color:black;text-decoration: none;">
                            <div class="card" style="height:400px;">
                                <h2>Paint Online!</h2><br>
                                <p>Paint online is the perfect video game for kids that are fond of drawing and painting.
                                </p>
                                <img src="https://kidmons.com/assets/img/games/1col/100x100/paintonline.webp" width="200" height="200" alt="">
                            </div>
                        </a>

                    </div>
                </div><br><br>
                <div class="row">
                    <div class="column">
                        <div class="card" style="height:225px;">
                            <h2>More Games Coming Soon!</h2><br>
                            <p>The MindLoom team is creating more and more games everyday! Stay tuned for more!</p><br><br>
                           
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br><br>
    {% endblock %}