@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEE440;
    font-family: "Open Sans", sans-serif;
    color: black;
}

.form {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: #FEE440;
    height: 34vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #00F5D4, #00F5D4, #00F5D4);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -1001;
}

#blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1000;
    backdrop-filter: blur(12vmax);
}

h1 {
    font-family: "Space Mono", monospace;
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0;
    background: #00BBF9;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    color:white;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar.sticky .icon.cancel-btn {
    top: 10px;
}

@media (max-width: 868px) {
    body.disabledScroll {
        overflow: hidden;
    }

    .icon {
        display: block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        z-index: 9;
    }

    .icon.cancel-btn {
        display: none;
    }

    .icon.cancel-btn.show {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #222;
        color: black;
        display: block;
        padding: 40px 0;
        text-align: center;
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
        transition: all 0.3s ease;
    }

    .navbar.sticky .menu-list {
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }

    .navbar .menu-list.active {
        clip-path: circle(75%);
        color: black;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        color: black;
    }
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F15BB5;
    border: 1px solid #F15BB5;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    transition: 0.5s;
}

.btn:hover {
    background-color: #f8f8f8;
    color: #db3498;
    border: 1px solid #db3498;
    cursor: pointer;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;

    height:500px;
    text-overflow: scroll;
    transition: 0.5s;
    backdrop-filter: blur(5px);
}

.card:hover {
    scale: 1.05;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}